a {
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
	color: #237c53;
}

.app {
	/*background-size: cover;
	background-image: url(images/bk2.jpg);*/
	background-color: #482a20;
	color: white;
	font-size: 14px;
	font-family: monospace;
	font-weight: bold;
}

.home {
	text-align: center;
	color: white;
	font-size: 30px;
}

.nowrap{white-space: nowrap;}