/*a {
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
	color: #237c53;
}*/

.app {
	/*background-size: cover;
	background-image: url(images/bk2.jpg);*/
	background-color: #7aeae5;
	color: white;
	font-size: 14px;
	font-family: monospace;
	font-weight: bold;
}

.home {
	text-align: center;
	color: white;
	font-size: 30px;
}

.nowrap{white-space: nowrap;}
/*
.styleNavbar {
	background-color: #39887d;
	border-color: #39887d;
	color: white;
}

.styleNavbarText {
	color: white;
	font-size: 16px;
}
*/
#myNavbarMain {
	background-color: #39887d;
	border-color: #39887d;
	color: white;
	font-size: 16px;
	padding: 0px -20px 0px -20px;
}

#myNavbarHome {
	color: white;
	font-size: 16px;
}

#myNavbarItems.li.a {
	color: white;
	font-size: 16px;
}