
section.bio {
  	/*color: red;*/
}

div.bio-content {
	/*background-image: url(../images/bk.jpg);
	background-size: cover;*/
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 75px;
}