
.styleHomeBackground {
    background-size: cover;
    background-image: url(../images/bk.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #000000;
    padding: 1px 0px 1px 0px;
}

.styleHomeHeader {
	font-family: 'Sofia';
    font-size: 50px;
    color: white;
    text-align:center;
    margin: 200px -20px 200px -20px;
    padding: 50px 0 50px 0;
}