<section class="styleProfileCommon" ng-controller="ProfileController">

	<div>
		<h4 class="styleProfileHeader" ng-bind="aboutMeHeader"></h4>
		<p class="styleProfileContent" ng-bind="aboutMe"></p>
	</div>
	<br/><br/>
	<div>
		<h4 class="styleProfileHeader" ng-bind="eduHeader"></h4>
		<div ng-repeat="rec in edu">
			<p>{{rec.degree}}</p>
			<p>{{rec.college}}</p>
			<p ng-show="rec.thesis">Thesis: {{rec.thesis}}</p>
			<br/>
			<br/>
		</div>
	</div>
	<br/>
	<div>
		<h4 class="styleProfileHeader" ng-bind="skillsHeader"></h4>
		<div ng-repeat="rec in skills">
			<span class="styleProfileSubHeader">{{rec.section}}: </span><span>{{rec.info}}</span>
			<br/>
		</div>
	</div>
</section>



















<!--
<section class="bio">
	<div ng-controller="BioController" class="bio-content">
		{{desc}}
		<a ng-href="" ng-hide="isHide('more')" ng-click="bioClickMore()">more</a>
		<a ng-href="" ng-hide="isHide('less')" ng-click="bioClickLess()">less</a>		
	</div>
</section>
-->