.styleProfileCommon {
    background-color: #000000;
    font-family: 'Ubuntu';
    font-size: 15px;
    color: #ff9e00;
    text-align:center;
    background-size: cover;
    background-image: none;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 25px 25px 400px 25px;
    margin: 0px -20px 0px -20px;
    /*
    margin: 200px -20px 200px -20px;
    padding: 50px 0 50px 0;
    */
}

.styleProfileHeader {
	
}

.styleProfileContent {
    
}