.textStyle 
{

	background-color: #ff9e03 ;
    font-family: 'Ubuntu';
    font-size: 15px;
    margin-top: 100px;
    margin-left: 500px;
}

.buttonStyle 
{

	background-color: #ff9e00;
    font-family: 'Ubuntu';
    font-size: 15px;
    margin-top: 100px;
    margin-left: 550px;
  
    
}

.bk
{
	background-image: url(../images/weather.jpg);
	background-attachment: fixed;
	
	
	background-size: cover;
}

 