.textStyle 
{

	background-color: grey;
    font-family: 'Ubuntu';
    font-size: 15px;

    
}

.buttonStyle 
{

	background-color: yellow;
    font-family: 'Ubuntu';
    font-size: 15px;
    margin : auto;
    display: block;
    
    
}

.bk
{
	background-image: url(../images/weather.jpg);
	background-attachment: fixed;
	
	
	background-size: cover;
}

 